Configuration For Full Turtle Armor (true = yes, false = no)
 ===
 Should a full set of Turtle Armor grant Dolphin's Grace when underwater? | true
 Should a full set of Turtle Armor grant Nightvision when underwater? | true

 # If some promised config options appear to be missing, delete this file and reload the game.